{% extends "govuk/template.njk" %}

{% block pageTitle %}{{ 'Error: ' if errors and errors['child-date-of-birth'] }}What is your child's date of birth? – {{ serviceName }} – GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    serviceName: serviceName,
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors['child-date-of-birth'] %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errors['child-date-of-birth'], href: "#child-date-of-birth" }]
      }) }}
    {% endif %}

    <form method="post" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrf }}">

    {{ govukInput({
      id: "child-date-of-birth",
      name: "child-date-of-birth",
      label: {
        text: "What is your child's date of birth?",
        isPageHeading: true,
        classes: "govuk-label--l"
      },
      hint: { text: "For example, 27 3 2010" },
      errorMessage: errors and errors['child-date-of-birth'] and { text: errors['child-date-of-birth'] },
      value: data['child-date-of-birth']
    }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
