{% extends "govuk/template.njk" %}

{% block pageTitle %}{{ serviceName }} – GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    serviceName: serviceName,
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Apply for free school meals</h1>
    <p class="govuk-body">Use this service to apply for free school meals for your child.</p>

    <p class="govuk-body">Use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Your child's full name and date of birth</li>
      <li>Your child's school name</li>
      <li>Your National Insurance number</li>
      <li>Details of any benefits you receive</li>
    </ul>

    <p class="govuk-body">It takes around <strong>5 minutes</strong> to complete.</p>

    {{ govukButton({
      text: "Start now",
      href: "/child-in-school",
      isStartButton: true
    }) }}
  </div>
</div>
{% endblock %}
